html,body {
    margin: 0;
    height: 100%;
}
.body {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.body, .img, .img img{
height: 100%;
    
}

    
.icon {
width: 20px;
}
header {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
}
h2 {
    margin-left: 30px;
}

.m-100 {
    width: 100%;
}
    .mar-15 {
        margin-bottom: 15px;
    }

.auth-for-container {
    width: 300px;
    min-height: 200px;
    padding: 15px;
    box-sizing: border-box;
    
}

.input-text {
    display: block;
    width: 100%;
    height: 60px;
}


.auth-for-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.text {
    color: cadetblue;
}

.container {
    width:100%;
    max-width: 434px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

span {
    color: red;
}

.create-an-account {
    color: white;
    background-color: blue;
    height: 69px;
    border-radius: 8%;
    border: 0px;
    font-weight: bold;
    gap: 10px;
    box-shadow: 25%;

}

.sign-up-with-google {
    color: blue;
    background-color: white;
    height: 69px;
    border: 1px solid cadetblue;
    border-radius: 10%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 25%;
}

.form-group {
    width: 100%;
    gap: 16px;
}


